@media only screen and (max-width: 769px) {
  .profileImg {
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 460px) {
  .testimonialsSection_profile_1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .testimonialsSection_profile_imgs {
    width: 150px;
  }
}
