@media only screen and (max-width: 1225px) {
  .pricingCard {
    height: 50rem;
  }
}

@media only screen and (max-width: 995px) {
  .pricingCards_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricingCard {
    height: auto;
  }
}

@media only screen and (max-width: 769px) {
  .profileImg {
    width: 250px;
    height: auto;
  }

  .contactMe_btn {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  .chouseMeSection_icons_respColumn {
    flex-direction: column;
  }

  .mediaSpan {
    text-align: center;
  }

  .contactMe_btn {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 460px) {
  .pricingCard {
    height: auto;
  }
}

@media only screen and (max-width: 420px) {
  .heroSection {
    height: auto;
  }

  .hero .contactMe_btn {
    margin-bottom: 5rem;
  }

  .pricingCard {
    height: auto;
  }
}
