@media only screen and (max-width: 1600px) {
  .slider_arow__right {
    margin-right: -30rem;
  }

  .slider_arow__left {
    margin-left: -30rem;
  }
}

@media only screen and (max-width: 1225px) {
  .pricingCard {
    height: 50rem;
  }

  .slider_arow__right {
    margin-right: -20rem;
  }

  .slider_arow__left {
    margin-left: -20rem;
  }
}

@media only screen and (max-width: 995px) {
  .pricingCards_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricingCard {
    height: auto;
  }

  .slider_arow__right {
    margin-right: -15;
  }

  .slider_arow__left {
    margin-left: -15;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width: 769px) {
  .profileImg {
    width: 250px;
    height: auto;
  }

  .contactMe_btn {
    margin-bottom: 5rem;
  }

  .heroSection {
    height: auto;
  }

  .slider_arow__right {
    margin-right: -15;
  }

  .slider_arow__left {
    margin-left: -15;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .chouseMeSection_icons_respColumn {
    flex-direction: column;
  }

  .mediaSpan {
    text-align: center;
  }

  .contactMe_btn {
    margin-bottom: 5rem;
  }

  .slider_arow__right {
    margin-right: -15rem;
  }

  .slider_arow__left {
    margin-left: -15rem;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width: 570px) {
  .slider_arow__right {
    margin-right: -10rem;
  }

  .slider_arow__left {
    margin-left: -10rem;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width: 460px) {
  .pricingCard {
    height: auto;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }

  .scrollBtn {
    bottom: -3rem;
  }

  .slider_arow__right {
    margin-right: 0;
  }

  .slider_arow__left {
    margin-left: 0;
  }
}

@media only screen and (max-width: 420px) {
  .heroSection {
    height: auto;
  }

  .contactMe_btn {
    margin-bottom: 5rem;
  }

  .pricingCard {
    height: auto;
  }

  .mediaSpan {
    margin-top: 10rem;
  }

  .slider_arow__right {
    margin-right: 0;
  }

  .slider_arow__left {
    margin-left: 0;
  }

  .pricingCard {
    padding: 5rem 1rem;
  }
}
