.myProjects {
  margin-bottom: 20rem;
}

.myProjectsSection_heading {
  margin-bottom: 10rem;
}

.mediaIcon {
  font-size: 5rem;
  color: rgba(69, 165, 4);
}

.slider_img {
  width: 100%;
  height: auto;
  opacity: 50%;
}

.bossImg {
  height: 20rem;
  width: auto;
}

.socialmeida {
  margin-top: 10rem;
}

.slider_arow__left {
  margin-left: -40rem;
}

.slider_arow__right {
  margin-right: -30rem;
}

.aboutTheProjects_description {
  margin-bottom: 5rem;
}

.visitWebsite_btn {
  text-decoration: none;
  color: #333;
  background: rgba(69, 165, 4);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  transition: 0.5s ease-in-out;
}

.visitWebsite_btn:hover {
  border: 0.1rem solid rgba(69, 165, 4);
  background: transparent;
  color: rgba(69, 165, 4);
}
