.myProjects {
  margin-bottom: 20rem;
}

.myProjectsSection_heading {
  margin-bottom: 10rem;
}

.mediaIcon {
  font-size: 5rem;
  color: rgba(69, 165, 4);
}

.slider_img {
  width: 100%;
  height: auto;
  opacity: 50%;
}

.socialmeida {
  margin-top: 10rem;
}
